<article class="archive-article archive-type-<%= post.layout %>">
    <div class="archive-article-inner" <%if ( post.photos.length > 0 ) { %>style="background-image:url(<%= post.photos[0] %>)"<% } %>>
        <header class="archive-article-header">
            <%- partial('post/date', {class_name: 'archive-article-year', date_format: 'YYYY.'}) %><!--
            --><%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MM.DD'}) %>
            <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        </header>
    </div>
</article>